.footer{
padding:60px 10%;
background:black;
text-align:center;
}

.footer h2{
font-size:40px;
color:#f5b642;
margin-bottom:15px;
}

.footer p{
color:#ccc;
margin:10px 0;
}

.socials{
margin:25px 0;
display:flex;
justify-content:center;
gap:20px;
font-size:30px;
}

.socials span{
cursor:pointer;
transition:.3s;
}

.socials span:hover{
transform:scale(1.3);
}

.copy{
margin-top:20px;
font-size:15px;
color:#888;
}